{% extends 'core/base.html'%}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="GasMall: Your number one online gas store ">
<meta name="author" content="GasMall">
<meta property="og:title" content="GasMall | About">
<meta property="og:description" content="GasMall: Your number one online gas store ">
<meta property="og:type" content="article">
<meta property="og:url" content="http://GasMall.com/about/">
{% endblock %}

{% block content %}
<h1>About</h1>
{% endblock %}